<section class="main">
  <div class="content">
    <div class="header-content">
      <h1>Acerca de mi</h1>
      <h2>Acerca de mi</h2>
    </div>
    <div class="body-content">
      <div class="world-container">
      </div>
      <div class="info">
        <p>
          ¡Descubre mi pasión por el mundo de Harry Potter y la tecnología! Soy un apasionado del mundo mágico creado por J.K.
          Rowling y también del desarrollo tecnológico. Siempre estoy buscando aprender cosas nuevas y estar al tanto
          de las últimas tecnologías. Cuando me enfrento a un desafío, no me detengo hasta encontrar una solución.
          ¡Sígueme en mi viaje para explorar lo mejor de ambos mundos!
        </p>
        <br>
        <div class="info-detail">
          <span><img src="../../../assets/icons/person-icon.png" width="100%" alt=""></span>
          <p>Nombre: Diego Andrés Burgos Bobadilla</p>
        </div>
        <div class="info-detail">
          <span><img src="../../../assets/icons/calendar-icon.png" width="75%" alt=""></span>
          <p>Fecha de Nacimiento: 27 de Junio del 1996</p>
        </div>
        <div class="info-detail">
          <span><img src="../../../assets/icons/colombia-icon.png" width="100%" alt=""></span>
          <p>Residencia: Bogotá DC, Colombia</p>
        </div>
        <div class="info-detail">
          <span><img src="../../../assets/icons/email-icon.png" width="100%" alt=""></span>
          <p>Email: diegoaburgos1@gmail.com</p>
        </div>
        <div class="info-detail">
          <span><img src="../../../assets/icons/whatsapp-icon.png" width="80%" alt=""></span>
          <p>Celular: (+57) 3146560105</p>
        </div>
      </div>
    </div>
  </div>
</section>
