* {
  font-family: "hpotter", sans-serif;
  user-select: none;
}
.main {
  display: flex;
  width: 100%;
  height: 100vh;
  z-index: 1;

  .banner-all {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: fixed no-repeat url('https://cdn.leonardo.ai/users/de0855fa-76c0-4292-aca3-8f21c4c9be61/generations/f4cb83fe-ebde-4d80-9f41-166275e397f8/Vintage_Style_Photography_asia_red_mountains_boat_snow_stars_m_1.jpg');
    background-size: cover;
  }

  .banner {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;


    @media (max-width:768px) {
      flex-direction: column;
      align-items: center;
    }

    .info-name {
      position: relative;
      width: 50%;
      height: 100%;

      @media (max-width:768px) {
        width: 100% !important;
      }

      .name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        span {
          position: relative;
          display: flex;
          font-size: 6rem;
          overflow: hidden;
          letter-spacing: 1rem;

          .letter {
            margin: 0;
            opacity: 0;
            color: #2a623d;
            transform: translateY(-1000px);
            transition: 1s;
            text-shadow: 2px 2px 2px #000;
          }

          .letter-sm {
            font-size: 2rem;
            color: #fff;
          }
        }

        .button {
          position: relative;
          padding: 1rem 1.5rem;
          border-radius: 3rem;
          font-size: 2rem;
          margin: 1rem 0;
          color: #2a623d;
          border: none;
          overflow: hidden;
          transform: translateY(-1000px);
          transition: 1s;
          cursor: pointer;

          .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            transition: 1s;
            transition: 1s;
            z-index: -1;
          }
        }

        .button:hover {
          color: #fff;
          .content {
            width: 200% !important;
            height: 200% !important;
            border-radius: 0 !important;
            background: #2a623d;
          }
        }
      }
    }

    .photo {
      position: relative;
      width: 50%;
      height: 100%;

      @media (max-width: 768px) {
        position: absolute;
        width: 100%;
      }

      img {
        position: absolute;
        bottom: 0;
        opacity: 0.6;
      }
    }
  }
}

.in {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
