<section class="header-bar">
  <div class="name">
    <h1><a href="/home">Diego</a></h1>
  </div>
  <nav class="nav-bar">
    <span class="menu-icon-container">
      <svg
        _ngcontent-serverApp-c12=""
        viewBox="0 0 100 80"
        class="ng-tns-c12-0"
        (click)="openMenu()"
      >
        <rect
          _ngcontent-serverApp-c12=""
          id="rect1"
          width="100"
          height="20"
          rx="10"
          [ngClass]="!toogleActive ? 'one' : 'one one-rotate-plus'"
        ></rect>
        <rect
          _ngcontent-serverApp-c12=""
          id="rect2"
          y="30"
          width="100"
          height="20"
          rx="10"
          [ngClass]="!toogleActive ? 'one' : 'd-none'"
        ></rect>
        <rect
          _ngcontent-serverApp-c12=""
          id="rect3"
          y="60"
          width="100"
          height="20"
          rx="10"
          [ngClass]="!toogleActive ? 'one' : 'one one-rotate-min'"
        ></rect>
      </svg>
    </span>
  </nav>
</section>
<section #menu class="header-nav-icons">
  <h1>{{ headerText }}</h1>
  <ul>
    <li (mouseover)="headerHover($event)"><a href="/home/#">Inicio</a></li>
    <li (mouseover)="headerHover($event)">
      <a href="/home/#">Acerca de mi</a>
    </li>
    <li (mouseover)="headerHover($event)"><a href="/home/#">Resumen</a></li>
    <li (mouseover)="headerHover($event)"><a href="/home/#">Skills</a></li>
    <li (mouseover)="headerHover($event)"><a href="/home/#">Contactame</a></li>
  </ul>
</section>
